.pricing
    background-color: rgb(249, 248, 255)
    padding: 4%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .title
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 2%
        h2
            color: rgb(68, 68, 68)

.pricing_container



.cards_container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 1rem
.card
    border-radius: 4px
    padding: 0
    position: relative
    overflow: hidden
    box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.222)


.price
    h4, p
        display: inline-block
    h4
        font-size: 24px
        color: rgb(88, 70, 249)
        font-weight: bold
    h4:before
        content: '$'
        font-size: 0.7rem
        vertical-align: top
    p
        color: rgb(204, 204, 204)



.card_header
    background-color: rgb(248, 248, 248)
    width: 100%
    padding: 1rem
    text-align: center

.card:nth-of-type(2)
    .card_header
        background-color: rgb(88, 70, 249)
        color: white

.card_body
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1rem
    line-height: 1.8
    


.card:nth-of-type(1)
    p:nth-of-type(4), p:nth-of-type(5)
        text-decoration: line-through
        color: rgb(204, 204, 204)


.card:nth-of-type(2)
    p:nth-of-type(5)
        text-decoration: line-through
        color: rgb(204, 204, 204)


.card_footer
    background-color: rgb(248, 248, 248)
    width: 100%
    padding: 1rem
    text-align: center

.buy
    padding: 0.6rem 2rem
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%)
    color: white
    border: 1px solid white
    border-radius: 4px
    cursor: pointer
    font-weight: bold


.advanced
    // width: 100%
    // height: fit-content
    width: 20rem
    height: 1.5rem
    text-align: center
    background-color: rgb(88, 70, 249)
    color: white
    position: absolute
    transform: rotate(45deg)
    // right: -6.2rem
    // top: 1rem
    top: 1.3rem
    right: -8rem
    display: grid
    place-items: center
    p
        font-size: 0.8rem

.switcher
    display: flex
    flex-direction: row
    align-items: center
    background-color: rgb(248, 248, 248)
    width: -moz-fit-content
    width: fit-content
    margin: 0.7rem 1rem
    p
        color: rgb(204, 204, 204)
        font-weight: bold

.switch
    width: 3rem
    height: 1.5rem
    background-color: rgb(133, 118, 251)
    border-radius: 1rem
    padding: 0.2rem
    position: relative
    display: flex
    align-items: center
    margin: 0 0.7rem
    .slider
        width: 1rem
        height: 1rem
        background-color: white
        border-radius: 50%
        position: absolute
        cursor: pointer

.switching
    transform: translateX(150%)

.switched
    color: rgb(133, 118, 251) !important

@media only screen and (max-width: 767px)
    .cards_container
        display: grid
        grid-template-columns: 1fr
        place-items: center
@media only screen and (min-width: 768px) and (max-width: 900px)
    .cards_container
        display: grid
        grid-template-columns: repeat(2, 1fr)
